.pagination-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.el-pagination {
  margin-top: 15px;
}
.main .main-content .el-table td,
.main .main-content .el-table th {
  text-align: center;
}
.el-dialog__wrapper .el-dialog {
  width: 30%;
}
