.main .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 10px;
}
.main-content .el-table td,
.main-content .el-table th {
  text-align: center;
}
